[submodule "vendor/lute"]
	path = vendor/lute
	url = https://github.com/luau-lang/lute.git
[submodule "vendor/cargo"]
	path = vendor/cargo
	url = https://github.com/rust-lang/cargo.git
[submodule "vendor/luau"]
	path = vendor/luau
	url = https://github.com/luau-lang/luau.git
[submodule "vendor/luau-lsp"]
	path = vendor/luau-lsp
	url = https://github.com/JohnnyMorganz/luau-lsp.git
[submodule "vendor/tint"]
	path = vendor/tint
	url = https://github.com/omarcoaraujo/tint.git
